#main_header{
  background-color: #f7f7f7;
}

h1,h2,h3,h4,p,li{
font-family: sans-serif;
color: #444;
}

h1,h2,h3{
  color: #1098ad;
}

h1{
  font-size:26 px ;
  font-style: italic;
  text-transform: uppercase;
}

h2{
  font-size: 40px;

}

h3{
  font-size: 30px;

}

h4{
  font-size:26px;

  text-transform: uppercase;
  text-align: center;
}

p{
  font-size: 22px;

  line-height: 1.5;
}

li{
  font-size: 20px;

}

footer p {
  font-size: 16px;
}

article header p {
font-style: italic;
}

/*#id  use with unique element*/
#copyright{
  font-size: 16px;
}

/*better to use .class multi elements easy to edit*/
.related-author{
  font-size: 18;
  font-weight: bold;
}

#author{
  font-style: italic;
  font-size: 18px;
}

.related {
  list-style: none;
}

aside{
  background-color: #f7f7f7;
  border-top: #1098ad solid 5px;
  border-bottom: #1098ad solid 5px;
}

li:first-child{
  font-weight: bold;
}

li:last-child{
  font-style: italic;
}

 li:nth-child(even){
  text-decoration: underline;
}

/*
li:nth-child(odd){
  color: blue;
} */

/* Not Working p is not the first child in article
article p:first-child{
  color: red;
} */

article p:last-child{
  color: red;
}

a:link{
  color: #1098ad;
  text-decoration: none;
}

a:visited{
  color: #1098ad;
}

a:hover{
  color: orange;
  font-weight: bold;
  text-decoration: wavy underline orange;
}

a:active{
background-color: black;
font-style: italic;
}
